/*
skyapp bootstrap sass theme
Author:me
version :0.0.1
*/
/*Base - base style, varibles,mixins, etc*/
/*font colors*/
/*when we are declaring varibles we need to use $*/
/*Background color*/
/*show case area*/
/*Mixins*/
/*example of if else if..*/
h1, h2, h3, h4, h5 {
  margin-top: 0; }

.page-header {
  margin-top: 30px; }

.no-pad-top {
  padding-top: 0; }

.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px; }

.top-inner {
  padding: 90px 0 30px 0; }

/*imge sizes*/
.img-xsm {
  width: 100px; }

.img-sm {
  width: 200px !important; }

.img-lg {
  width: 400px; }

.img-xlg {
  width: 700px; }

.clearfix {
  clear: both; }

body {
  font-family: "Segoe UI", "Segoe Regular", "Segeo WP", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666; }

a {
  color: #00aff0; }

ul, li {
  list-style: none; }

input, textarea, button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

img.device {
  width: 100%; }

img.device-small {
  width: 76%;
  margin-bottom: -40px !important; }

/*Modules - Indiviual  site components*/
/*Lists*/
ul.list, ul.list-feature {
  margin-bottom: 30px; }

.list-feature {
  margin: 0;
  padding: 0;
  width: 80%; }
  .list-feature li {
    line-height: 3.6em;
    border-bottom: 1px solid #cccccc;
    overflow: auto !important; }
  .list-feature li:last-child {
    border: 0; }
  .list-feature span {
    vertical-align: top;
    padding-top: 9px;
    font-size: 120%; }
  .list-feature i {
    margin-top: -9px;
    margin-right: 5px; }

.list-comment {
  margin: 0;
  padding: 0; }

.list-comment li {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #cccccc; }

.list-comment li:last-child {
  border: 0; }

.list-comment img {
  width: 30%;
  float: left; }

.fa-2 {
  font-size: 18px; }

.fa-3 {
  font-size: 24px; }

.fa-4 {
  font-size: 35px; }

.fa-6 {
  font-size: 40px; }

.fa-5 {
  font-size: 35px; }

.fa-primary {
  color: #00aff0; }

.fa-border {
  border: 1px solid #00aff0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 13px 15px;
  width: 70px;
  margin-bottom: 10px; }

/*heading*/
.heading-primary, .heading-primary-a {
  color: #00aff0; }

.heading-primary-a {
  border-bottom: 2px solid #00aff0; }

.heading-secondary, .heading-secondary-a {
  color: #7fba00; }

.heading-secondary-a {
  border-bottom: 2px solid #7fba00; }

.heading-light, .heading-light-a, .heading-dark-a {
  color: #e4eef2; }

.heading-light-a {
  border-bottom: 2px solid #e4eef2; }

.heading-dark {
  color: #2a5464; }

.heading-dark-a {
  border-bottom: 2px solid #2a5464; }

/*emphasis text*/
.em-primary {
  color: #00aff0; }

.em-secondary {
  color: #7fba00; }

.em-light {
  color: #e4eef2; }

.em-dark {
  color: #2a5464; }

/*block*/
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bootom: 15px; }
  .block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
    margin-top: 0;
    padiing-top: 0; }

.block-primary {
  background: #00aff0;
  color: #ffffff; }

.block-secondary {
  background: #7fba00;
  color: #ffffff; }

.block-light {
  background: #e4eef2;
  color: #666666; }

.block-dark {
  background: #2a5464;
  color: #ffffff; }

.block-center {
  text-align: center !important; }

.block-image img {
  width: 100%; }

.block-border {
  border: 1px solid #cccccc; }

.block-primary-head-A h3 {
  padding: 15px 5px 15px 10px;
  background: #00aff0;
  color: #ffffff;
  margin: 0;
  font-size: 18px; }
.block-primary-head-A .block-content {
  border: 1px solid #00aff0;
  padding: 10px; }

.block-icon h3 {
  margin: 0;
  padding: 0; }
.block-icon .icon {
  float: left;
  width: 20%;
  margin-top: 10px; }
.block-icon .icon-content {
  float: left;
  width: 70%; }

/*buttons*/
.btn-primary {
  background: #00aff0;
  color: #ffffff;
  border: 3px solid #ffffff; }

.btn-primary:hover {
  background: #008abd;
  border: 3px solid #ffffff; }

section {
  padding: 30px 0; }

.section-showcase {
  height: 400px;
  background: url("../img/showcase.jpg") no-repeat top center; }
  .section-showcase .showcase-content {
    padding: 110px 15px !important;
    text-align: center; }
  .section-showcase h1 {
    color: #00aff0; }

.section-primary, .section-primary-a, .section-primary-b {
  background: #00aff0;
  color: #ffffff; }

.section-primary-a {
  border-top: 4px solid #7fba00; }

.section-primary-b {
  border-bottom: 4px solid #7fba00; }

.section-secondary {
  background: #7fba00;
  color: #ffffff; }

.section-light {
  background: #e4eef2;
  color: #666666; }

.section-dark {
  background: #2a5464;
  color: #ffffff; }

/**carousel**/
.carousel {
  margin-bottom: 20px; }

.carousel img {
  padding: 3px;
  border: 1px solid #cccccc; }

/*Tabs*/
.tab-pane {
  padding: 20px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px; }

.tab-primary .tab-pane, .tab-primary .nav-tabs > li.active > a, .tab-primary.nav-tabs > li.active > a:hover, .tab-primary.nav-tabs > li.active > a:focus {
  background: #00aff0;
  color: #ffffff; }

.tab-light .tab-pane, .tab-light .nav-tabs > li.active > a, .tab-light.nav-tabs > li.active > a:hover, .tab-light.nav-tabs > li.active > a:focus {
  background: #e4eef2;
  color: #666666; }

.tab-secondary .tab-pane, .tab-light .nav-tabs > li.active > a, .tab-secondary.nav-tabs > li.active > a:hover, .tab-secondary.nav-tabs > li.active > a:focus {
  background: #7fba00;
  color: #ffffff; }

.tab-dark .tab-pane, .tab-light .nav-tabs > li.active > a, .tab-dark.nav-tabs > li.active > a:hover, .tab-dark.nav-tabs > li.active > a:focus {
  background: #2a5464;
  color: #ffffff; }

/*seach box*/
.search {
  width: 100%; }
  .search h3 {
    margin-top: 0;
    padding-top: 0; }
  .search input[type="search"] {
    border: 0;
    height: 50px;
    width: 80%;
    border: 2px solid #00aff0;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 5px; }
  .search button {
    border: 0;
    background: none;
    padding: 0;
    verticle-align: top;
    margin-left: -13px; }

/* Layouts- Page layout styles*/
/*Nav bar*/
.navbar {
  width: 90%;
  margin: auto;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
  border-color: #e7e7e7; }
  .navbar a {
    color: #00aff0 !important;
    font-size: 20px;
    letter-spacing: -0.5px;
    padding-bottom: 24px !important;
    padding-top: 20px !important; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #00aff0 !important; }

/*footer*/
.footer-main {
  background: #2a5464;
  color: #ffffff;
  border-top: 5px solid #7fba00;
  min-height: 200px;
  padding: 30px 0;
  z-index: 100; }
  .footer-main a {
    color: #ffffff; }
  .footer-main ul {
    margin: 0;
    padding: 0; }
  .footer-main li {
    line-height: 1.8em;
    list-style: none; }

/*blog post*/
.blog-post {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 15px; }
  .blog-post h2.page-header {
    margin-top: 5px !important; }

.blog-featured {
  width: 100%;
  float: left;
  margin-left: 15px; }

.post-meta {
  background: #cccccc;
  padding: 10px 10px 10px 10px;
  border: 1px solid #cccccc;
  margin-bottom: 20px; }

@media (max-width: 768px) {
  .search {
    display: inline-block;
    text-align: center; }

  .device {
    display: block;
    margin: 20px auto 0 auto; }

  .device-small {
    margin-bottom: 20px !important; }

  .footer-main ul {
    margin-bottom: 20px;
    text-align: center; }
  .footer-main h4 {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
