/*font colors*/
/*when we are declaring varibles we need to use $*/
$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe Regular","Segeo WP",sans-serif;
$base-font-color:#666666;
/*Background color*/
$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2a5464;

/*show case area*/
$showcase-height:400px;
$showcase-image:'../img/showcase.jpg';
