/*blog post*/

.blog-post{
  @include add-border(1px,#cccccc,top);
  @include add-border(1px,#cccccc,right-left);
  padding:15px;

  h2.page-header{
    margin-top: 5px !important;
  }
}
.blog-featured{
  width:100%;
  float:left;
  margin-left: 15px;
}
.post-meta{
  background: #cccccc;
  padding: 10px 10px 10px 10px;
  @include add-border(1px,#cccccc,all);
  margin-bottom: 20px;
}
