/*footer*/
.footer-main{
  @include add-background($dark-color);
  @include add-border(5px,$secondary-color,top);
  min-height:200px;
  padding:30px 0;
  z-index:100;

  a{
    color:#ffffff;
  }
  ul{
    margin:0;
    padding:0;
  }
  li{
    line-height:1.8em;
    list-style:none;
  }
}
