 /*Nav bar*/
.navbar{
  width:90%;
  margin:auto;
  @include add-border(1px,#e7e7e7,'right-left');
  min-height:60px;
  background:#fff;
  margin-bottom:30px;
  border-color:#e7e7e7;
  //links of navbar
  a{
    color:$primary-color !important;
    font-size:20px;
    letter-spacing: -0.5px;
    padding-bottom: 24px !important;
    padding-top: 20px !important;
  }
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus  {

    color: #fff !important;
    background-color: $primary-color !important;

}
